body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: white;
}

.form{
  text-align: center;
  background: rgba(128, 128, 128, 0.986);
  border-radius: 10px;
  padding: 40px;
}
