.report-card {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}

mat-card-title {
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-top: 20px;
}

textarea {
  height: 200px;
}

.button-container {
  text-align: center;
  margin-top: 30px;
}

/*
Este código es un CSS que establecen el tamaño, posición y estilo de los elementos HTML dentro de una tarjeta de informe. Por
ejemplo, establece el ancho de la tarjeta, el margen, el espaciado entre elementos, la altura de un cuadro de texto y la alineación
 de los botones en el centro.*/
