<mat-card class="report-card">
  <mat-card-title>Reporte asistencia</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Número de Ficha" [(ngModel)]="numeroFicha">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Reporte" [(ngModel)]="reporte"></textarea>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="enviarReporte()">Enviar Reporte</button>
    </div>
  </mat-card-content>
</mat-card>

<!--Este código es un componente en Angular que muestra un formulario para enviar un reporte de asistencia. El formulario consiste
  en dos campos de entrada, uno para el número de ficha y otro para el reporte, y un botón para enviar el formulario. El componente
   está contenido en una tarjeta de Material Design de Angular.-->
