.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  border: 4px solid green;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
}

.col {
  flex: 1;
  margin-right: 15px;
  margin-left: 15px;
}

.form-group {
  margin-bottom: 1rem;
}

p{
  position: absolute;
  padding: 15px;
  font-size: 30px;
  border-bottom: 3px solid green;
}
