<div class="contenedor-padre" fxLayout="column" fxLayoutGap="20px" fxFlex="100%">
  
  <p class="titulo">Información personal</p>

  <div class="contenedor-campos-datos" fxLayoutGap="25px" fxLayout="column">
    
    <p class="datos">Datos personales</p>

    <form fxLayoutGap="4%" fxLayout="row">

      <mat-form-field fxFlex="32%" >
        <mat-label>Tipo y número de documento</mat-label>
        <input matInput  [value]="type_id + ' - ' + num_id" disabled>
      </mat-form-field>

      <mat-form-field fxFlex="32%" >
        <mat-label>Nombres</mat-label>
        <input matInput [value]="first_name" disabled>
      </mat-form-field>

      <mat-form-field fxFlex="32%" >
        <mat-label>Apellidos</mat-label>
        <input matInput [value]="last_name" disabled>
      </mat-form-field>

    </form>

  </div>

  <div fxLayoutGap="25px" fxLayout="column">
    <p class="datos">Información de contacto</p>
    <form fxLayout="row">
      <mat-form-field fxFlex="30.5%">
        <mat-label>Correo electrónico</mat-label>
        <input matInput [value]="email" disabled>
      </mat-form-field>
    </form>
  </div>

  <button class="boton boton-centrado" (click)="cambiarContrasena()" mat-raised-button>Cambiar contraseña</button>

</div>
