.contenedor-padre {
  margin: 30px;
}

.titulo {
  font-size: 23px;
  font-weight: bold;
}

.datos {
  margin-left: 10px;
  font-size: 18px;
}

.boton-centrado{
  width: 25%;
  height: 35px;
  margin: auto;
}