<div class="container">
  <h2>Crear asistencia</h2>
  <form class="form-container">

    <mat-form-field appearance="fill">
      <mat-label>Selecciona el aprendiz</mat-label>
      <mat-select>
        <mat-option (click)="agregarAprendiz(aprendiz.num_id)" *ngFor="let aprendiz of aprendices" [value]="aprendiz">
          Id: {{aprendiz.num_id}} - {{aprendiz.first_name}} {{aprendiz.last_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Selecciona el horario</mat-label>
      <mat-select>
        <mat-option (click)="agregarHorario(horario.id_horario)" *ngFor="let horario of horarios[0]" [value]="horario">
          {{horario.id_horario}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <textarea matInput name="comments" [(ngModel)]="asistencia.comments" placeholder="Observaciones"></textarea>
    </mat-form-field>

    <button mat-raised-button (click)="guardarAsistencia()" class="botom">Agregar</button>
  </form>
</div>
