<div fxLayoutGap="1%" fxLayout="column">

  <h2 class="titulo">Crear asistencia</h2>
  
  <form fxLayout="column" class="form">

    <mat-form-field>
      <mat-label>Selecciona el aprendiz</mat-label>
      <mat-select>
        <mat-option (click)="agregarAprendiz(aprendiz.num_id)" *ngFor="let aprendiz of aprendices" [value]="aprendiz">
          Numero de documento: {{aprendiz.num_id}} - {{aprendiz.first_name}} {{aprendiz.last_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Selecciona el horario</mat-label>
      <mat-select>
        <mat-option (click)="agregarHorario(horario.id_horario)" *ngFor="let horario of horarios[0]" [value]="horario">
          {{horario.fecha | date: 'dd/MM/yyyy'}} - Ficha: {{horario.id_ficha}} 
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <textarea matInput name="comments" [(ngModel)]="asistencia.comments" placeholder="Observaciones"></textarea>
    </mat-form-field>

  </form>

  <button mat-raised-button (click)="guardarAsistencia()" class="boton boton-centrado">Agregar</button>
</div>
