
<div fxLayoutGap="1%" fxLayout="column">

    <h2 class="titulo">Editar Excusa</h2>
  
    <form fxLayout="column" class="form">

        <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="excusa.estado" name="estado">
              <mat-option value="Pendiente">Pendiente</mat-option>
              <mat-option value="Revisado">Revisado</mat-option>
              <mat-option value="Rechazado">Rechazado</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Motivo</mat-label>
            <textarea matInput type="text" name="comments" [(ngModel)]="excusa.comments" ></textarea>
            <!--[(ngmodel)] cumple la función de actualizar el valor del atributo comments del componente excusa,
            de esta manera lo ingresado en el textarea por el usuario, actualizara el valor de lo 
            almacenado en el atributo-->
        </mat-form-field>

        <button (click)="modificarExcusa()" mat-raised-button class="botom" id="bton">Editar</button>
    </form>
</div>
