.primera-linea{
  margin-left: 5%;
  margin-bottom: 5%;
}

.titulo{
  margin-top: 5%;
  font-size: 28px;
}


@media(max-width:1965px){
  .primera-linea{
    margin-right: 10% !important;
  }
}

@media(max-width:1800px){
  .primera-linea{
    margin-right: 15% !important;
  }
}

@media(max-width:1500px){
  .primera-linea{
    margin-right: 20% !important;
    
  }
}

@media(max-width:1250px){
  .primera-linea{
    margin-right: 25% !important;
  }

  .td1{
    max-width: 1px !important;
  }

  .doc2{
    max-width: 1px !important;
  }

  .mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell{
    font-size: 10px;
  }

  .letra{
    font-size: 10px;
  }
}

@media(max-width:1100px){
  .primera-linea{
    margin-right: 27% !important;
  }
}











