table {
    width: 100%;
    margin: 0 auto;
}

button{
  margin: 20px;
}


h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 5%;
  }

  table{
  }

.mat-mdc-raised-button.mat-unthemed{
  margin: 0 5%;
  background-color: #00C977;
}

.container{

}

.mat-mdc-focus-indicator{
  background-color:#00C977;
  margin-right: 10px;
  margin: 0 5%;
}

.mdc-button__label{
  background-color:#00C977;
  margin-right: 40px;
  margin: 0 5%;


}



