<div class="header_superior">

 </div>


 <div class="contenedor">
   <div class="menu">
     <h1>Aprendiz</h1>
     <nav>
       <ul>
         <li><a href="#">Asistencias</a>
         <ul>
           <li><a href="">Listar asistencia</a></li>
         </ul>
         </li>
         <li><a href="#">Dato biometrico</a>
         <ul>
           <li><a href="">Registrar dato biometrico</a></li>
         </ul>
         </li>
         <li><a href="#">Soporte inasistencia</a>
         <ul>
           <li><a href="">Registrar dato inasistencia</a></li>
         </ul>
         </li>
       </ul>
     </nav>
   </div>
 </div>
 <div class="content">
   <div class="menu2"> </div>
   <div class="opcion">
   </div>
   <div class="footer">SENA CDTI</div>
 </div>

