
<div class="header_superior">

 </div>


 <div class="contenedor">
   <div class="menu">
     <h1>Aprendiz</h1>
     <nav>
       <ul>
         <li><a href="#">Asistencias</a>
         <ul>
           <li><a href="">Listar asistencia</a></li>
         </ul>
         </li>
         <li><a href="#">Dato biometrico</a>
         <ul>
           <li><a href="">Registrar dato biometrico</a></li>
         </ul>
         </li>
         <li><a href="#">Soporte inasistencia</a>
         <ul>
           <li><a href="">Registrar dato inasistencia</a></li>
         </ul>
         </li>
       </ul>
     </nav>
   </div>
 </div>
 <div class="content">
   <div class="menu2"> </div>
   <div class="opcion">
   </div>
   <div class="footer">SENA CDTI</div>
 </div>

<!--Este código HTML define una página web con un encabezado superior que contiene un menú de navegación. El menú tiene tres
  opciones: "Asistencias", "Dato biometrico" y "Soporte inasistencia". Cada opción del menú tiene una lista desplegable que
  muestra una única subopción. El contenido principal de la página se encuentra en un contenedor debajo del menú, y tiene tres
  secciones: una barra lateral de menú vacía, una sección para mostrar las opciones seleccionadas del menú y un pie de página
  con el nombre "SENA CDTI".-->
