
#boton {
  background-color:#00C977;
  margin-right: 10px;
  margin: 0 5%;
}

table.mat-mdc-table.mdc-data-table__table.cdk-table {
  margin: 0 5%;

}

h2{
  text-align: center;
}
.container{
  display: auto;
  height: 30%;
  width: 90%;
  justify-content: space-between;
}

.container{
  margin-top: -313px;
}

.mat-mdc-text-field-wrapper{
  float: right;
}

.mdc-text-field{
  float: right;
}

.ng-tns-c70-1{
  float: right;
}

.mdc-text-field--filled{
  float: right;
}

.mdc-text-field--no-label{
  float: right;
}



