.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.form-container h2 {
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.mat-select {
  width: 100%;
}
.botom {
  margin-top: 30px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.botom:hover {
  background-color: #ff4800;
}