<div class="container">
  <h2>Crear asistencia</h2>
  <form class="form-container">
    <mat-form-field>
      <input matInput type="text" name="date_enter" [(ngModel)]="asistencia.hora_ingreso" placeholder="hora de ingreso">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="comments" [(ngModel)]="asistencia.comments" placeholder="Observaciones">
    </mat-form-field>
    <button mat-raised-button (click)="guardarAsistencia()" class="botom">Agregar</button>
  </form>
</div>
