<div fxLayout="column" fxLayoutGap="5%">
    <h2 class="titulo">Listar Fichas Instructor</h2>
  
    <div fxLayout="column" class="cuadros">
      <div fxLayout="row" class="fichass" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="start start">
        <div fxLayout="column" class="card" *ngFor="let ficha of fichas[0]">
          <div>
            <img class="logo-sena" src="../../../../assets/img/senaverde.png" alt="">
            <hr class="colorhr">
            <p class="centrado">Ficha: {{ficha.code_ficha}}</p>
            <br>
            <p class="centrado nombre-programa">{{ficha.name_programa | titlecase}}</p>
          </div>
        </div>
      </div>
    
      <div fxLayout="row" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="start start">
        <!-- Columnas para la segunda fila -->
      </div>
    
      <div fxLayout="row" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="start start">
        <!-- Columnas para la tercera fila -->
      </div>
    </div>
  </div>
  
   
  
  