<div fxLayout="row" class="container">
  <div fxLayout="column" fxLayoutGap="3.75rem" fxFlex="15%">
    <div class="container-logo-sena">
      <img class="logo-sena" (click)="activarComponente(0)"  src="../../../../assets/img/logo-sena-verde-complementario-png-2022.png" alt="Logo">
    </div>
    <app-navegacion (seEscogioComponente)="activarComponente($event)" ></app-navegacion>
  </div>

  <hr fxFlex="0.3%" class="separador">

  <div fxLayout="column" fxFlex="84.7%" class="contenido">
    <div class="header">
      <div fxLayout="row">
        <h1 class="rol" >{{usuario_rol}}</h1>
        <div>
          <button class="logo-contenedor" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="logo">account_circle</mat-icon>
          </button>
          
          <mat-menu #menu="matMenu" yPosition="below">
            <button mat-menu-item (click)="mostrarperfil()">Perfil</button>
            <button mat-menu-item (click)="logOut()">Cerrar Sesion</button>
          </mat-menu>
        </div>
      </div>
    </div>

    <div class="info">
      <b class="mensaje" *ngIf="activarComponenteById == 0">BIENVENIDO AL CENTRO DE FORMACION  <br><br><br> DISEÑO E INNOVACION TECNOLOGICA  <br><br><br>          INDUSTRIAL </b>
      <app-asistencias class="opcion" *ngIf="activarComponenteById == 1"></app-asistencias>
      <app-competencias class="opcion" *ngIf="activarComponenteById == 2"></app-competencias>
      <app-excusas class="opcion" *ngIf="activarComponenteById == 3"></app-excusas>
      <app-fichas class="opcion" *ngIf="activarComponenteById == 4"></app-fichas>
      <app-horarios class="opcion" *ngIf="activarComponenteById == 5"></app-horarios>
      <app-usuarios class="opcion" *ngIf="activarComponenteById == 6"></app-usuarios>
      <app-roles class="opcion" *ngIf="activarComponenteById == 7"></app-roles>
    </div>
  </div>
</div>
