.logo{
  border-radius: 50%;
  margin-top: 30px;
  margin-right: -40px;
  border-radius: 50%;
}

.contenedor{
  margin-bottom: 0.75rem !important;
}

.logo-contenedor{
  margin-left: 30%;
  margin-bottom: 0.75rem;
}

.barra-lateral{
  background: var(--gris-sena);
}

.logo-sena{
  margin-top: 2.25rem;
  transform: scale(4);
  margin-left: 320%;
}

.container{
  height: 94vh;
  width: 100vw;
}

.info .opcion{
  margin-top: 3.125rem;
  display: flow-root;
  margin: 2.7% 7% 2%;
  background: var(--gris-sena);
  overflow: auto;
  height: 82vh;
}

.footer{
  bottom: 0;
  height: 6vh;
  width: 100%;
  position: fixed;
  background: var(--verde-sena);
}

.footer-text{
  margin: 0;
  padding: 1.25rem;
  font-size: 1.25rem;
  color: white;
}

.nombre{
  margin: 10px auto;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 7rem;
}

.rol{
  margin-bottom: 1.75rem !important;
  margin-top: -45px !important;
  margin: 0 auto;
  margin-left: 8.7rem;
}

.logo-sena{
  width: 15px;
  top: -8px;
  right: 28px;
  position: absolute;
}

/*Logout*/
.logout:hover{
  background: var(--verde-sena);
  cursor: pointer;
}

.logout{
  position: fixed;
  bottom: 100px;
  margin-left: 17px;
  width: 19%;
}

.icono{
  margin-top: -15px;
}

.logout:hover .icono{
  color: white;
}

.logout:hover h1{
  color: white;
}

/**********************************/


.label-menu-pequeno{
  font-size: 20px;
}
.icon-menu-pequeno{
  width: 30px;
  margin-bottom: -6px;
}
.toolbar{
  background: var(--verde-sena);
}

.toolbar-text{
  color: white;
}

@media(max-width:1000px){
  .footer-text{
    padding: 0.25rem;
    font-size: 0.75rem;
  }
  .info .opcion{
    height: 80vh;
  }
  .footer{
    z-index: 1;
  }

  .opcion:hover{
    background: var(--verde-sena);
    cursor: pointer;
  }
  
  .opcion:hover .label-menu-pequeno{
    color: white;
  }
  .logo-sena{
    display: none;
  }
  
}

@media(max-height:900px){
  .footer-text{
    padding: 0.25rem;
    font-size: 0.75rem;
  }

  .footer{
    z-index: 1;
  }

  .info .opcion{
    height: 82vh;
  }

  .opcion:hover{
    background: var(--verde-sena);
    cursor: pointer;
  }
  
  .opcion:hover .label-menu-pequeno{
    color: white;
  }

  .logo-sena{
    display: none;
  }
}



/*INICIO*/

.profile-image > img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image {
  position: relative;
}

.profile-image > button {
  position: absolute;
  bottom: 10px;
  right: 25%;
}

.editar {
  background-color:  #3366cc !important;
}

/*FINAL*/