.logo{
  margin-top: 1.25rem;
  transform: scale(4);
}
.mensaje{
  display: flex;
  padding: 13% 9%;
  font-size: 3.125rem;
  justify-content: center;
}

.logo-contenedor{
  margin-top: 1.25rem;
  right: 3%;
  position: fixed;
}
.menu{
  margin-top: 1.25rem;
  right: 3%;
}
.separador{
  margin:0;
  height: 100vh;
  background: black;
  border: 0.031rem solid;
}

.logo-sena{
  width: 7.813rem;
  margin-left: 1.563rem;
}
.container-logo-sena{
  height: 7.5rem;
  background: white;
}

.container{
  height: 100vh;
  width: 100vw;
}

.rol{
  margin-top: 1.25rem;
  margin-left: 40%;
  font-size: 3.125rem;
}

.header{
  background: var(--verde-sena);
  height: 7.5rem;
  margin:0;
}

.info .opcion{
  margin-top: 3.125rem;
  display: flow-root;
}