  <div class="container" fxLayout="row">
    <div class="barra-lateral" fxLayout="column" fxLayoutGap="3.75rem" fxFlex="20%">

      <!--<mat-icon class="logo">account_circle</mat-icon>-->

      <!--INICIO-->

      <!--div class="form-container mat-elevation-z5 text-center" *ngIf="user$ | async as usuarios">

      <h1>User Profile</h1>

      <div class="profile-image">
        <img
          width="120"
          height="120"
          [src]="user$.photoURL ?? '/assets/images/image-placeholder.png'"
        />

        <button mat-mini-fab (click)="inputField.click()">
          <mat-icon>edit</mat-icon>
        </button>
      </div-->
      <!--input #inputField type="file" hidden (change)="uploadImage($event, user)"/-->

      <!--FINAL-->

 
      <p class="nombre">{{getnombre()}}</p>
      <p class="rol">{{this.usuario_rol}}</p>
      
      <app-navegacion (seEscogioComponente)="activarComponente($event)" ></app-navegacion>

      
      <mat-nav-list  (click)="logOut()"  class="logout">
        <div fxLayout="row">
          <img class="icono" src="../../../../assets/img/svg/logos-navegacion/logout.svg" alt="Cerrar Sesión">
          <a mat-list-item><h1 class="opciones">Cerrar Sesión</h1></a>
        </div>
      </mat-nav-list>
    
      
    </div>
  
    <div fxLayout="column" fxFlex="80%" class="contenido">

      <div class="info">
        <app-perfil class="opcion" *ngIf="activarComponenteById == 0"></app-perfil>
        <app-asistencias-aprendiz class="opcion" *ngIf="activarComponenteById == 1"></app-asistencias-aprendiz>
        <app-listar-excusa class="opcion" *ngIf="activarComponenteById == 2"></app-listar-excusa>
        <app-asistencias class="opcion" *ngIf="activarComponenteById == 3"></app-asistencias>
        <app-excusas class="opcion" *ngIf="activarComponenteById == 4"></app-excusas>
        <app-fichas-instructor  class="opcion" *ngIf="activarComponenteById == 5"></app-fichas-instructor>
        <app-fichas class="opcion" *ngIf="activarComponenteById == 6"></app-fichas>
        <app-horarios class="opcion" *ngIf="activarComponenteById == 7"></app-horarios>
        <app-usuarios class="opcion" *ngIf="activarComponenteById == 8"></app-usuarios>
      </div>
    </div>
  </div>

  <div class="container-logo-sena">
    <img class="logo-sena" (click)="activarComponente(0)"  src="../../../../assets/img/logo-sena-verde-complementario-png-2022.png" alt="Logo">
  </div>

  <div class="footer">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="footer-text">
        <p>© 2021 - Centro de Formación en Diseño e Innovación Tecnológica Industrial</p>
      </div>
    </div>
  </div>