<div class="container">
    <h2>Agregar fichas</h2>
    <form class="form-container">
        <div class="inputs-container">
            <mat-form-field>
                <input matInput placeholder="Nombre de Usuario">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Tipo de documento</mat-label>
                <mat-select>
                    <mat-option value="TI">Tarjeta de Identidad</mat-option>
                    <mat-option value="CC">Cedula de Ciudadania</mat-option>
                    <mat-option value="CE">Cedula de Extranjeria</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Numero de Documento">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Correo Electronico">
            </mat-form-field>
        </div>

        <div class="inputs-container">
            <mat-form-field>
                <input matInput placeholder="Numero de Ficha">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Telefono">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Rol en el Sistema</mat-label>
                <mat-select>
                    <mat-option value="mañana">Instructor</mat-option>
                    <mat-option value="mixta">Aprendiz</mat-option>
                    <mat-option value="noche">Administrador</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Contraseña">
            </mat-form-field>
        </div>
    </form>

    <button mat-raised-button>Agregar</button>
</div>
  
  
  
