<div class="container">
  <h2>Visualizar fichas</h2>
  <table mat-table>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let ficha">{{ ficha.id }}</td>
    </ng-container>
    <ng-container matColumnDef="programa">
      <th mat-header-cell *matHeaderCellDef>Programa</th>
      <td mat-cell *matCellDef="let ficha">{{ ficha.programa }}</td>
    </ng-container>
    <ng-container matColumnDef="trimestre">
      <th mat-header-cell *matHeaderCellDef>Trimestre</th>
      <td mat-cell *matCellDef="let ficha">{{ ficha.trimestre }}</td>
    </ng-container>
    <ng-container matColumnDef="jornada">
      <th mat-header-cell *matHeaderCellDef>Jornada</th>
      <td mat-cell *matCellDef="let ficha">{{ ficha.jornada }}</td>
    </ng-container>
    <ng-container matColumnDef="lider">
      <th mat-header-cell *matHeaderCellDef>Líder</th>
      <td mat-cell *matCellDef="let ficha">{{ ficha.lider }}</td>
    </ng-container>
    <ng-container matColumnDef="inicio">
      <th mat-header-cell *matHeaderCellDef>Inicio</th>
      <td mat-cell *matCellDef="let ficha">{{ ficha.inicio }}</td>
    </ng-container>
    <ng-container matColumnDef="fin">
      <th mat-header-cell *matHeaderCellDef>Fin</th>
      <td mat-cell *matCellDef="let ficha">{{ ficha.fin }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['id', 'programa', 'trimestre', 'jornada', 'lider', 'inicio', 'fin']"></tr>
    <tr mat-row *matRowDef="let ficha; columns: ['id', 'programa', 'trimestre', 'jornada', 'lider', 'inicio', 'fin']"></tr>
  </table>
</div>
