<div fxLayout="column" fxLayoutGap="5%">
  <h2 class="titulo">Listar Fichas</h2>

  <div class="primera-linea" fxLayoutGap="30%" fxLayout="row">
    <div fxLayoutGap="10%" fxFlex="30%" fxLayoutAlign="start center">

      <button matTooltip="Crear Ficha" class="botonB" mat-fab (click)="agregarFicha()">
        <mat-icon>add</mat-icon>
      </button>

      <button matTooltip="Exportar Fichas"  class="botonB" mat-fab (click)="ExportarFichas()">
       <mat-icon>file_download</mat-icon>
      </button>
      
      <button matTooltip="Importar Fichas" class="botonB" mat-fab (click)="inputfield.click()">
       <mat-icon>file_upload</mat-icon>
      </button>
      <input #inputfield type="file" hidden (change)="importarFichas($event)" multiple="false">

    </div>

    <div class="buscaA" fxFlex="80%" fxLayout="row" fxLayoutGap="4%" >
      <mat-form-field  matTooltip="Buscar Ficha por codigo">
        <input matInput placeholder="Buscar" [formControl]="control">
      </mat-form-field>

      <mat-form-field  matTooltip="Buscar ficha por programa de estudio">
        <mat-label>Estado</mat-label>
        <mat-select name="status" [formControl]="control">
            <mat-option value="ACTIVO">Activo</mat-option>
            <mat-option value="INACTIVO">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="column" class="cuadros">
    <div  class="fichass" fxLayout="row" fxLayout.gt-sm="row wrap" >
      <div matTooltip="Editar Ficha" (click)="editarFicha(ficha.code_ficha)" fxLayout="column" class="card" *ngFor="let ficha of fichas[0]">
        <div>
          
          <img class="logo-sena" src="../../../../assets/img/senaverde.png" alt="">
          <hr class="colorhr">
          <p class="centrado">Ficha: {{ficha.code_ficha}}</p>
          <br>
          <p class="centrado nombre-programa">{{ficha.name_programa | titlecase}}</p>
          
        </div>
      </div>
    </div>
  
    <div fxLayout="row" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="start start">
      <!-- Columnas para la segunda fila -->
    </div>
  
    <div fxLayout="row" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="start start">
      <!-- Columnas para la tercera fila -->
    </div>

  </div>
</div>

 

