
.general{
  background: #1aff00;
}


.form .thumbnail {
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  padding: 50px 30px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}
.form .thumbnail h1 {
  display: block;
  width: 100px;
}

.thumbnail h1{
  font-size: 50px;
  font-family: "Arial", sans-serif;
  color: #000000;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
}

.form button{
  background-color: rgb(239, 235, 231);
  color: black;
  width: 80%;
}
.form button:hover {
  background: #1aff00;
  color: white;
  width: 80%;
}

.general{
  background: linear-gradient(rgb(8, 255, 8), white 50%);
}

.form {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.685);
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 80px;
  text-align: center;
  border-left: 4px solid black;
  box-shadow: 0 20px 20px rgb(6, 255, 6);
  
}
.img {
  display: block;
  width: 80px; 
  height: auto; 
  margin-bottom: 10px; 
}

.form .thumbnail {
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  padding: 50px 30px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}
.form .thumbnail h1 {
  display: block;
  width: 100px;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
}

.form button{
  background-color: rgb(239, 235, 231);
  color: black;
  width: 80%;
}
.form button:hover {
  background: #1aff00;
  color: white;
  width: 80%;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #1aff00;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 20px 50px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.border2{
  border-left: 3px solid black;
}



@keyframes borderAnimation {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}


h1.fondo::after {
  content: '';
  position: absolute;
  bottom: -15px; 
  left: 0;
  width: 0;
  height: 5px;
  background-color: #1aff00; 
  animation: borderAnimation 4s linear infinite; 
}

.fondo {
  position: fixed;
  left: 200px;
  top: 395px;
  font-size: 70px;
}


@media (max-width: 600px) {
  .fondo {
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: 50px;
    animation: moveUp 2s infinite alternate;
  }

  .form{
    border: none;
    box-shadow: none;
    background: none;
  }

  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }

  .img {
    max-width: 200px;
    font-size: 10px;
  }


  .thumbnail {
    text-align: center;
  }

  .thumbnail h1 {
    font-size: 50px;
    margin-top: 10px;
  }

}