<img class="logo" src="../../../../assets/img/senaverdee.png" alt="">
<div class="" fxLayout="column">
  
  <div class="contenedor_general" fxLayout="column" fxFlex="90vh">
    
    <div class="contenedor-imagen-login" fxFlex="85%" fxLayout="row"> <!--Depende del padre si es height o width-->
      
      <img src="../../../../assets/img/fondologin.jpg" alt="">  
      
      <div class="login" fxFlex="40%">
        <div class="cuadro-login">
          <h2 class="text">Iniciar sesión</h2>
          
          <form fxLayoutAlign="stretch" fxLayout="column" fxLayoutGap="10px" class="login-form">
            
            <mat-form-field>
              <mat-label>Correo electrónico:</mat-label>
              <input matInput name="documento" [(ngModel)]="email">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Contraseña:</mat-label>
              <input matInput type="password" name="contrasena" [(ngModel)]="contrasena">
            </mat-form-field>
            
            <a class="message" (click)="recuperarContrasena()">¿Olvidaste tu contraseña?</a>
            <br>
            <button class="button-login" mat-raised-button type="submit" (click)="logearse()">Iniciar sesión</button>
          
          </form>  
        </div>
      </div>

    </div>

  </div>

  <div class="pie" fxFlex="10vh">
    Biometric Service 2023 © Todos los derechos reservados | CDITI
  </div>

</div>
