<body>
    <form class="form">
      <h1 class="form__title"><b>Restablecer</b></h1>

      <h2>Escribe la  nueva contraseña</h2>
      <mat-form-field class="form__field">
        <mat-label><i>Contraseña</i></mat-label>
        <input matInput type="password" name="contrasena" >
      </mat-form-field>
      <h2>Confirmacion</h2>
        <mat-form-field class="form__field">
          <mat-label><i>Contraseña</i></mat-label>
          <input matInput type="password" name="contrasena" >
        </mat-form-field>

        <button mat-raised-button type="submit" class="form__button" ><a href="auth">Aceptar</a></button>

    </form>



  </body>
