<div class="container">
    <form class="form-container">

        <h2>Editar competencia</h2>

        <mat-form-field appearance="fill">
            <mat-label>Seleccione el nombre de la competencia</mat-label>
            <mat-select disableRipple>
              <mat-option value="1">Construcción de software</mat-option>
              <mat-option value="2">Inglés</mat-option>
              <mat-option value="3">Diseño de software</mat-option>
              <mat-option value="4">Emprendimiento</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nombre de la ficha a la que desea vincularla</mat-label>
            <mat-select disableRipple>
                <mat-option value="2465417">2465417</mat-option>
                <mat-option value="2478304">2478304</mat-option>
                <mat-option value="248101">248101</mat-option>
                <mat-option value="2466435">2466435</mat-option>
                <mat-option value="2455321">2455321</mat-option>
                <mat-option value="2433123">2433123</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button class="botom" id="bton">Guardar cambios realizados</button>
    </form>
</div>