
<div fxLayoutGap="1%" fxLayout="column">

  <h2 class="titulo">Crear ficha</h2>

  <form fxLayout="column" class="form">

    <mat-form-field >
      <mat-label>Codigo de la ficha</mat-label>
      <input matInput class="input-numerico" type="text" [(ngModel)]="ficha.code_ficha" name="code_ficha">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Selecciona un programa de formacion</mat-label>
      <mat-select name="name_programa" [(ngModel)]="ficha.name_programa">
        <mat-option (click)="agregarPrograma(programa)" [value]="programa.name_programa" *ngFor="let programa of programas [0]">
          {{programa.name_programa}} 
        </mat-option> 
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select name="status" [(ngModel)]="ficha.estado"> 
          <mat-option value="ACTIVO">Activo</mat-option>
          <mat-option value="INACTIVO">Inactivo</mat-option>
      </mat-select>
  </mat-form-field>

  </form>
  <div class="marco" fxLayoutGap="5%" fxLayout="row">
    <button fxFlex="25%" mat-raised-button class="boton" (click)="modificarFicha()" mat-raised-button>Editar</button>
    <button fxFlex="25%" mat-raised-button class="boton"  (click)="vincularAprendices()">Aprendices</button>
    <button fxFlex="25%" mat-raised-button class="boton" (click)="vincularInstructores()">Instructores</button>
  </div>

</div>

