
<div class="container">
    <form class="form-container">

        <h2>Creación de excusas</h2>

        <mat-form-field appearance="fill">
            <mat-label>Motivo</mat-label>
            <textarea matInput type="text" name="comments" [(ngModel)]="excusa.comments"></textarea> 
            <!--[(ngmodel)] cumple la función de actualizar el valor del atributo comments del componente excusa,
            de esta manera lo ingresado en el textarea por el usuario, actualizara el valor de lo 
            almacenado en el atributo-->
        </mat-form-field>

        <h3> Adjunte su evidencia </h3>

        <input type="file" class="file-upload" [(ngModel)]="excusa.archivo" onchange="console.log(event.target.files)">
         <!--[(ngmodel)] cumple la función de actualizar el valor del atributo archivo del componente excusa,
            de esta manera el documento subido por el usuario, actualizara lo almacenado en el atributo-->
        <button (click)="guardarExcusa()" mat-raised-button class="botom" id="bton">Guardar</button>
        <!--El evento click llama al método guardarExcusa() creado en el typescript de crear-excusa-->
    </form>
</div>
