<button mat-raised-button (click)="nuevoHorario()">Crear Nuevo Horario</button>
<div class="container">
    <h2>Listar Usuarios</h2>
    <table mat-table [dataSource]="horarios[0]">
      <ng-container matColumnDef="Horario">
        <th mat-header-cell *matHeaderCellDef>Horario</th>
        <td mat-cell *matCellDef="let horario">{{horario.id_horario}}</td>
      </ng-container>
      <ng-container matColumnDef="Instructor">
        <th mat-header-cell *matHeaderCellDef>Instructor</th>
        <td mat-cell *matCellDef="let horario">{{horario.id_instructor}}</td>
      </ng-container>
      <ng-container matColumnDef="Jornada">
        <th mat-header-cell *matHeaderCellDef>Jornada</th>
        <td mat-cell *matCellDef="let horario">{{horario.Jornada}}</td>
      </ng-container>
      <ng-container matColumnDef="Ficha">
        <th mat-header-cell *matHeaderCellDef>Ficha</th>
        <td mat-cell *matCellDef="let horario">{{horario.id_ficha}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let usuario">    
        <a mat-button>
          <mat-icon>edit</mat-icon>
          <button (click)="editarHorarios(usuario.num_id)">Ver/Editar</button>
        </a></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  

