
<div class="container">
  <button mat-raised-button (click)="nuevoRol()"><b>Crear Nuevo Rol</b></button>
    <h2><b>Listar Usuarios</b></h2>
    <table mat-table [dataSource]="roles[0]">
      <ng-container matColumnDef="NumeroRol">
        <th mat-header-cell *matHeaderCellDef>Numero de rol</th>
        <td mat-cell *matCellDef="let rol">{{rol.id_rol}}</td>
      </ng-container>
      <ng-container matColumnDef="NombreRol">
        <th mat-header-cell *matHeaderCellDef>Nombre del rol</th>
        <td mat-cell *matCellDef="let rol">{{rol.nombre_rol.charAt(0).toUpperCase() + rol.nombre_rol.slice(1)}}</td>
      </ng-container>
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let rol">
          <a >
            <button mat-button (click)="editarRol(rol.id_rol)">
              <mat-icon>edit</mat-icon>
              Ver/Editar
            </button>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


