<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-toolbar>
      <img (click)="activarComponente(0)"  src="../../assets/img/sena.png" alt="Logo" style="max-height: 100%">
    </mat-toolbar>
    <app-navegacion (seEscogioComponente)="activarComponente($event)" ></app-navegacion>
  </mat-sidenav>

    <div class="contenido">

        <div class="titulo">
            <h2>Administrador</h2>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="mostrarperfil()">Perfil</button>
              <button mat-menu-item (click)="logOut()">Cerrar Sesion</button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>account_circle</mat-icon>
            </button>
        </div>

        <div class="info">
          <b *ngIf="activarComponenteById == 0">BIENVENIDOS AL CENTRO DE FORMACION DISEÑO E INNOVACION TECNOLOGICA INDUSTRIAL</b>
          <app-asistencias *ngIf="activarComponenteById == 1"></app-asistencias>
          <app-competencias *ngIf="activarComponenteById == 2"></app-competencias>
          <app-excusas *ngIf="activarComponenteById == 3"></app-excusas>
          <app-fichas *ngIf="activarComponenteById == 4"></app-fichas>
          <app-horarios *ngIf="activarComponenteById == 5"></app-horarios>
          <app-usuarios *ngIf="activarComponenteById == 6"></app-usuarios>
          <app-roles *ngIf="activarComponenteById == 7"></app-roles>
        </div>
    </div>
</mat-sidenav-container>
