<div class="contenedor_contraseña">
    
    <div class="form__b">
      <a mat-dialog-close><mat-icon class="iconretro">keyboard_arrow_left</mat-icon>Volver</a>
    </div>
    <h1 class="form__titulo"><b>Cambiar contraseña</b></h1>
    <div class="formulario">
      <div class="cambiar_contraseña">

        <form class="formm">
          
          <mat-form-field class="form__campo">
            <mat-label>Contraseña actual:</mat-label>
            <input [(ngModel)]="contrasenaActual" matInput type="password" name="contraseña_actual">
          </mat-form-field>

          <mat-form-field class="form__campo">
            <mat-label>Nueva contraseña:</mat-label>
            <input [(ngModel)]="contrasenaNueva" matInput type="password" name="nueva_contraseña">
          </mat-form-field>

          <mat-form-field class="form__campo">
            <mat-label>Confirmar nueva contraseña:</mat-label>
            <input [(ngModel)]="confirmarContrasenaNueva" matInput type="password" name="nueva_contraseña2">
          </mat-form-field>

          <button (click)="actualizarPassword()" mat-raised-button >Cambiar contraseña</button>
        </form>

      </div>
    </div>

</div>
    
