<div fxLayout="column" fxLayoutGap="5%">

  <h2 class="titulo">Listar Asistencias</h2>

  <div  class="primera-linea" fxLayoutGap="30%" fxLayout="row">
    <div fxLayoutGap="10%" fxFlex="30%">
      <button  matTooltip="Crear Asistencia" fxFlex="6%" class="boton" mat-fab  (click)="crearAsistencia()">
        <mat-icon>add</mat-icon>
      </button>
  
      <button matTooltip="Exportar Asistencias"  class="boton" mat-fab (click)="ExportarAsistencias()">
        Exportar
      </button>
  
    </div>

    <div fxFlex="10%" >
      <mat-form-field  matTooltip="Buscar Asistencia Documento del aprendiz">
        <input matInput placeholder="Buscar" [formControl]="control">
      </mat-form-field>
    </div>

  </div>

  <table  class="margin-table" mat-table [dataSource]="asistencias">
    <ng-container matColumnDef="numId">
      <th mat-header-cell *matHeaderCellDef>Aprendiz</th>
      <td mat-cell *matCellDef="let asistencia">{{asistencia.id_aprendiz}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let asistencia">{{asistencia.fecha | date: 'dd/MM/yyyy'}}</td>
    </ng-container>
    <ng-container  matColumnDef="observaciones">
      <th mat-header-cell *matHeaderCellDef>Observaciones</th>
      <td class="observaciones" mat-cell *matCellDef="let asistencia">{{asistencia.comments}}</td>
    </ng-container>
    <ng-container matColumnDef="horaIngreso">
      <th mat-header-cell *matHeaderCellDef>Hora de ingreso</th>
      <td mat-cell *matCellDef="let asistencia">{{asistencia.hora_ingreso}}</td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let asistencia">
        <button matTooltip="Editar Asistencia" class="boton" mat-mini-fab (click)="editarAsistencia(asistencia.id_asistencia)">
          <mat-icon>edit</mat-icon>
        </button>
        <button matTooltip="Eliminar Asistencia" class="boton" mat-mini-fab (click)="eliminarAsistencia(asistencia.id_asistencia)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table >


</div>
