table {
    width: 100%;
}

.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
}

#boton {
    background-color:#00C977;
    margin-right: 10px;
    margin: 0 5%;
}

.mat-elevation-z8{
  margin: 0 5%;
}

h3{
  text-align: center;
}

.container{
  margin-top: -345px;
}

.mat-mdc-form-field-infix{
  float: right;
}
.ng-tns-c70-1{
  float: right;
}
