

<div fxLayoutGap="1%" fxLayout="column">

    <h2 class="titulo">Creación de Excusa</h2>
  
    <form fxLayout="column" class="form">

        <mat-form-field>
            <mat-label>Selecciona la Asistencia</mat-label>
            <mat-select>
              <mat-option (click)="agregarAsistencia(asistencia.id_asistencia)" *ngFor="let asistencia of asistencias[0]" [value]="asistencia">
                Asistencia: {{asistencia.id_asistencia}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Seleccionar Fecha</mat-label>
            <input matInput [matDatepicker]="picker" (dateInput)="addEvent($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker mat-multi-year></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Selecciona un instructor</mat-label>
            <mat-select [(ngModel)]="excusa.id_instructor" name="id_instructor">
              <mat-option (click)="agregarInstructor(instructor)" *ngFor="let instructor of instructores" [value]="instructor.num_id">
                Instructor: {{instructor.first_name}} {{instructor.last_name}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="excusa.estado" name="estado">
              <mat-option value="PENDIENTE">Pendiente</mat-option>
              <mat-option value="APROBADO">Aprobado</mat-option>
              <mat-option value="NO APROBADO">No aprobado</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Motivo</mat-label>
            <textarea matInput type="text" name="comments" [(ngModel)]="excusa.comments"></textarea> 
            <!--[(ngmodel)] cumple la función de actualizar el valor del atributo comments del componente excusa,
            de esta manera lo ingresado en el textarea por el usuario, actualizara el valor de lo 
            almacenado en el atributo-->
        </mat-form-field>

        <h3> Adjunte su evidencia </h3>

        <input type="file" class="file-upload" [(ngModel)]="excusa.archivo" onchange="console.log(event.target.files)">
         <!--[(ngmodel)] cumple la función de actualizar el valor del atributo archivo del componente excusa,
            de esta manera el documento subido por el usuario, actualizara lo almacenado en el atributo-->
        <button (click)="guardarExcusa()" mat-raised-button class="botom" id="bton">Guardar</button>
        <!--El evento click llama al método guardarExcusa() creado en el typescript de crear-excusa-->
    </form>
</div>
