<div fxLayoutGap="1%" fxLayout="column">

  <h2 class="titulo">Crear ficha</h2>

  <form fxLayout="column" class="form">

    <mat-form-field >
      <mat-label>Codigo de la ficha</mat-label>
      <input matInput class="input-numerico" type="text" [(ngModel)]="ficha.code_ficha" name="code_ficha">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Selecciona un programa de formacion</mat-label>
      <mat-select>
        <mat-option  (click)="agregarPrograma(programa)" *ngFor="let programa of programas [0]">
          {{programa.name_programa}} 
        </mat-option> 
      </mat-select>
    </mat-form-field>

  </form>
  <button class="boton boton-centrado" (click)="guardarFicha()" mat-raised-button>Guardar</button>
</div>

