<div class="container">
    <form class="form-container">

        <h2>Editar horario</h2>

        <mat-form-field appearance="fill">
            <mat-label>Selecciona una id de instructor</mat-label>
            <mat-select disableRipple>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Selecciona una jornada</mat-label>
            <mat-select disableRipple>
                <mat-option value="DIURNA">DIURNA</mat-option>
                <mat-option value="MIXTA">MIXTA</mat-option>
                <mat-option value="NOCTURNA">NOCTURNA</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Selecciona una ficha</mat-label>
            <mat-select disableRipple>
                <mat-option value="2465417">2465417</mat-option>
                <mat-option value="2466435">2466435</mat-option>
                <mat-option value="2455321">2455321</mat-option>
                <mat-option value="2433123">2433123</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Selecciona la hora de ingreso</mat-label>
            <mat-select disableRipple>
                <mat-option value="07:00">07:00</mat-option>
                <mat-option value="10:00">10:00</mat-option>
                <mat-option value="13:00">13:00</mat-option>
                <mat-option value="16:00">16:00</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Selecciona la hora de finalización</mat-label>
            <mat-select disableRipple>
                <mat-option value="10:00">10:00</mat-option>
                <mat-option value="13:00">13:00</mat-option>
                <mat-option value="16:00">16:00</mat-option>
                <mat-option value="18:00">18:00</mat-option>
            </mat-select>
        </mat-form-field>

          
        <mat-form-field appearance="fill">
            <mat-label>Elige la fecha de formación</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button class="botom" id="bton">Guardar cambios realizados</button>
    </form>
</div>

