<div class="container">
  <h2>Editar asistencia</h2>
  <form class="form-container">
    <mat-form-field>
      <input matInput type="number" name="date_enter" [(ngModel)]="asistencia.hora_ingreso" placeholder="Hora de ingreso">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" name="id_aprendiz" [(ngModel)]="asistencia.id_aprendiz" placeholder="id del aprendiz">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="comments" [(ngModel)]="asistencia.comments" placeholder="Observaciones">
    </mat-form-field>

    <button mat-raised-button (click)="modificarAsistencia()">Guardar cambios</button>
  </form>
</div>
