
<mat-nav-list (click)="seleccionarComponente(componente.id_componente)"  class="opcion"  *ngFor="let componente of componentes">
  <div fxLayout="row">
    <img class="icono" [src]="logos.get(componente.nombre_componente)" alt="">
    <a *ngIf="componente.nombre_componente == 'Asistencias Aprendiz'" mat-list-item><h1 class="opciones">Asistencias</h1></a>
    <a *ngIf="componente.nombre_componente != 'Asistencias Aprendiz'" mat-list-item ><h1 class="opciones">{{componente.nombre_componente  | titlecase}}</h1></a>
  </div>
</mat-nav-list>
    
