
.opcionnav{
    margin-top: 11px;
    margin-left: 17px;
}

.icononav{
    margin-top: -15px;
}



@media(max-width:1650px){
    .opciones{
        font-size: 17px !important;
    }
}

@media(max-width:1256px){
    .opciones{
      font-size: 15px !important;
    }
}

@media(max-width:1110px){
    .opciones{
      font-size: 12px !important;
    }
}

@media(max-width:970px){
  
    .opciones{
      font-size: 10px !important;
    }
  }

@media(max-width:905px){
    .opcionnav{
        
        margin-left: 7px;
    }
    
}
  
   


