<div class="container">
  <h2>Visualizar asistencia</h2>
  <table mat-table>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let asistencia">{{ asistencia.fecha }}</td>
    </ng-container>
    <ng-container matColumnDef="numeroIngreso">
      <th mat-header-cell *matHeaderCellDef>Número de ingreso</th>
      <td mat-cell *matCellDef="let asistencia">{{ asistencia.numeroIngreso }}</td>
    </ng-container>
    <ng-container matColumnDef="asistio">
      <th mat-header-cell *matHeaderCellDef>Asistió</th>
      <td mat-cell *matCellDef="let asistencia">{{ asistencia.asistio }}</td>
    </ng-container>
    <ng-container matColumnDef="noAsistio">
      <th mat-header-cell *matHeaderCellDef>No asistió</th>
      <td mat-cell *matCellDef="let asistencia">{{ asistencia.noAsistio }}</td>
    </ng-container>
    <ng-container matColumnDef="aula">
      <th mat-header-cell *matHeaderCellDef>Aula</th>
      <td mat-cell *matCellDef="let asistencia">{{ asistencia.aula }}</td>
    </ng-container>
    <ng-container matColumnDef="observaciones">
      <th mat-header-cell *matHeaderCellDef>Observaciones</th>
      <td mat-cell *matCellDef="let asistencia">{{ asistencia.observaciones }}</td>
    </ng-container>
    <ng-container matColumnDef="horaIngreso">
      <th mat-header-cell *matHeaderCellDef>Hora de ingreso</th>
      <td mat-cell *matCellDef="let asistencia">{{ asistencia.horaIngreso }}</td>
    </ng-container>
    <ng-container matColumnDef="horaSalida">
      <th mat-header-cell *matHeaderCellDef>Hora de salida</th>
      <td mat-cell *matCellDef="let asistencia">{{ asistencia.horaSalida }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['fecha', 'numeroIngreso', 'asistio', 'noAsistio', 'aula', 'observaciones', 'horaIngreso', 'horaSalida']"></tr>
    <tr mat-row *matRowDef="let asistencia; columns: ['fecha', 'numeroIngreso', 'asistio', 'noAsistio', 'aula', 'observaciones', 'horaIngreso', 'horaSalida']"></tr>
  </table>
</div>
