.menu-icon {
    margin-right: 10px;
  }

  .title {
    flex: 1 1 auto;
    text-align: center;
  }

  .user-icon {
    margin-left: auto;
  }

  .content {
    margin-top: 20px;
  }

  .footer {
    background:#63D3A9;
    color: #333;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
  }


.barra{
  background:#63D3A9;
  position: fixed;;
  top: 0;
}

.body{
  margin-top:  64px;
  height: 100%;
  background: white;
}

