._ngcontent-uir-c349{
  margin: 0 5%;
}

h2{
  text-align: center;
}

.mat-header-row{
  margin: 0 5%;

}
table{
  margin: 5%;

}
.mdc-button{
  margin: 0 5%;
  background-color: rgb(66, 216, 66);
}

.container{
  margin: 0 7% 0 -9px;
}
