.primera-linea{
  margin-left: 5%;
  margin-bottom: 5%;
}

.titulo{
  margin-top: 5%;
  font-size: 28px;
}


@media(max-width:2250px){
  .primera-linea{
    margin-right: 5% !important;
   
  }
}

@media(max-width:1940px){
  .primera-linea{
    margin-right: 15% !important;
   
  }
}

@media(max-width:1800px){
  .primera-linea{
    margin-right: 25% !important;
   
  }
}

@media(max-width:1530px){
  .primera-linea{
    margin-right: 30% !important;
  
  }
}

@media(max-width:1400px){
  .primera-linea{
    margin-right: 37% !important;
    
  }
}

@media(max-width:1300px){
  .primera-linea{
    margin-right: 45% !important;
    
  }
}

@media(max-width:1100px){
  .primera-linea{
    margin-right: 48% !important;
  }

  .letra{
    font-size: 10px;
  }

}

@media(max-width:900px){
  .mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell{
    font-size: 10px;
  }

}