table {
    width: 100%;
    margin: 0 auto;
  }

h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 95%;
    margin: 0 0 0 20px;
  }

  .container button{
    margin-bottom: 20px;
  }
