<button mat-raised-button (click)="nuevoUsuario()">Crear Nuevo Usuario</button>
<div class="container">
    <h2>Listar Usuarios</h2>
    <table mat-table [dataSource]="usuarios[0]">
      <ng-container matColumnDef="NombreUsuario">
        <th mat-header-cell *matHeaderCellDef>Nombre de Usuario</th>
        <td mat-cell *matCellDef="let usuario">{{usuario.first_name}} {{usuario.last_name}}</td>
      </ng-container>
      <ng-container matColumnDef="TipoDocumento">
        <th mat-header-cell *matHeaderCellDef>Tipo de documento</th>
        <td mat-cell *matCellDef="let usuario">{{usuario.type_id}}</td>
      </ng-container>
      <ng-container matColumnDef="NumeroDocumento">
        <th mat-header-cell *matHeaderCellDef>Numero de Documento</th>
        <td mat-cell *matCellDef="let usuario">{{usuario.nulast_namem_id}}</td>
      </ng-container>
      <ng-container matColumnDef="CorreoElectronico">
        <th mat-header-cell *matHeaderCellDef>Correo Electronico</th>
        <td mat-cell *matCellDef="let usuario">{{usuario.email}}</td>
      </ng-container>
      <ng-container matColumnDef="RolSistema">
        <th mat-header-cell *matusuarioHeaderCellDef>Rol en el Sistema</th>
        <td mat-cell *matCellDef="let usuario">{{usuario.rol}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let usuario">
        <a mat-button>
          <mat-icon>edit</mat-icon>
          <button (click)="editarUsuarios(usuario.num_id)">Ver/Editar</button>
        </a></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


