
<h2>Listar Ficha</h2>
<div  class="container">
  <table mat-table [dataSource]="fichas[0]">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let ficha">{{ficha.code_ficha}}</td>
    </ng-container>
    <ng-container matColumnDef="programa">
      <th mat-header-cell *matHeaderCellDef>Programa</th>
      <td mat-cell *matCellDef="let ficha">{{ficha.name_ficha}}</td>
    </ng-container>
    <ng-container matColumnDef="trimestre">
      <th mat-header-cell *matHeaderCellDef>Trimestre</th>
      <td mat-cell *matCellDef="let ficha">{{ficha.trimester}}</td>
    </ng-container>
    <ng-container matColumnDef="jornada">
      <th mat-header-cell *matHeaderCellDef>Jornada</th>
      <td mat-cell *matCellDef="let ficha">{{ficha.jornada}}</td>
    </ng-container>

    <ng-container matColumnDef="inicio">
      <th mat-header-cell *matHeaderCellDef>Fecha de inicio</th>
      <td mat-cell *matCellDef="let ficha">{{ficha.date_start }}</td>
    </ng-container>
    <ng-container matColumnDef="fin">
      <th mat-header-cell *matHeaderCellDef>Fecha de finalización</th>
      <td mat-cell *matCellDef="let ficha">{{ficha.date_end}}</td>
    </ng-container>
    <ng-container matColumnDef="lider">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let ficha">    
      <a mat-button [routerLink]="['/editar-fichas',ficha.code_ficha]">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

