.tituloins{
    margin-top: 28px;
    display: flex;
    justify-content: center;
}

.primera-linea{
    margin-left: 50px;
}

.buscarins{
    margin-left: 60px;
}

.bot{
    margin-bottom: 22px;
}





