.example-spacer {
    flex: 1 1 auto;
  }


.footer{
    background-color: #3f51b5;
    color: #fff;
    width: 100%;
    height: 4rem;
    margin-top: 9.1rem;
}

mat-sidenav-container {
    position: relative;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgb(255, 94, 0), white, white);
  }
  mat-sidenav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .contenido {
    display: flex;
    flex-direction: column;

  }

/* Estilo para la barra lateral */
.mat-sidenav {
    width: 250px;
    background-color: #ffffff;
    color: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  }

  /* Estilo para el logo */
  .mat-toolbar img {
    max-height: 60px;
    padding: 5px;
  }

  /* Estilo para los enlaces */
  .mat-nav-list a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  .titulo{

    height: 64px;
    background-color: #f5f5f5;
    width: 100%;
    z-index: 10;
    position: fixed;

  }

.titulo >h2{
    width: 10%;
    margin: auto;

}

.info{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    overflow: unset;
    margin-top: 100px;
}

.info >b{
    display: flex;
    width: 50%;
    margin: auto;
    font-size: 20px;
}



/*El estilo para una barra lateral en el lado izquierdo de la página, con un ancho de 250px, fondo blanco y sombra.
Un estilo para el logo en la barra superior con un máximo de altura de 60px y un relleno de 5px.
Un estilo para los enlaces de navegación en la barra lateral con un color de fuente blanco, negrita, centrado y un relleno de 10px.
Un estilo para un título en la parte superior de la página con un fondo gris claro y una altura fija de 64px, posición fija y texto centrado.
Un estilo para una sección de información en la página con un ancho máximo del 50%, posición absoluta y centrada verticalmente y horizontalmente.*/
