<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-toolbar>
        <img src="../../assets/img/sena.png" alt="Logo" style="max-height: 100%">
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item (click)="AccionAdmin(1)" routerLinkActive="active">Usuarios</a>
        <a mat-list-item (click)="AccionAdmin(2)" routerLinkActive="active">Generar reporte usuarios</a>
        <a mat-list-item (click)="AccionAdmin(3)" routerLinkActive="active">Fichas</a>
        <a mat-list-item (click)="AccionAdmin(4)" routerLinkActive="active">Generar reporte Fichas</a>
      </mat-nav-list>
    </mat-sidenav>
    <div class="contenido">
        <div class="titulo">
            <h2>Administrador</h2>
        </div>
        <div class="info">
          <b *ngIf="activaOpcion == 0">BIENVENIDOS AL CENTRO DE FORMACION DISEÑO E INNOVACION TECNOLOGICA INDUSTRIAL</b>
          <app-usuarios *ngIf="activaOpcion == 1"></app-usuarios>
          <app-reporte-usuario *ngIf="activaOpcion == 2"></app-reporte-usuario>
          <app-fichas *ngIf="activaOpcion == 3"></app-fichas>
          <app-reporte-fichas *ngIf="activaOpcion == 4"></app-reporte-fichas>


        </div>
      </div>

  </mat-sidenav-container>
