.example-spacer {
    flex: 1 1 auto;
  }
  

.footer{
    background-color: #3f51b5;
    color: #fff;
    width: 100%;
    height: 4rem;
    margin-top: 9.1rem;
}

.info{
    margin-top: 8rem;
    letter-spacing: 15px;
    line-height: 5.6rem;
    text-align: center;
    font-size: 70px;
}