<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="menu-icon" aria-label="Menu" matTooltip="Menu" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer">Administrador</span>
        <button mat-icon-button class="user-icon" aria-label="User" matTooltip="User" [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
        </button>


        <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="/usuarios">Usuarios</a>
            <a mat-menu-item routerLink="">Fichas</a>
        </mat-menu>


        <mat-menu #userMenu="matMenu">
            <button mat-menu-item>Perfil de Usuario</button>
            <button mat-menu-item>Configuración</button>
            <button mat-menu-item (click)="menu">Cerrar Sesión</button>
        </mat-menu>

    </mat-toolbar>
</p>

<div class="info">
    <b>BIENVENIDOS AL CENTRO DE FORMACION DISEÑO E INNOVACION TECNOLOGICA INDUSTRIAL</b>
</div>
<p>
    <mat-toolbar class="footer">
        <span class="footer-text">© 2023 Sena</span>
          </mat-toolbar>
</p>