
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
    --verde-sena: #7CC383;
    --gris-sena: #F3F3F3;
    --verde-claro: #5BCB26;
    --verde-oscuro: #00AD00;
  }



.titulo{
  text-align: center;
}

.margin-table{
  margin: auto 5% auto 5%;
  min-width: 80% !important;
}

.custom-dialog-create-update{
  box-shadow: 0px 0px 20px 8px var(--verde-sena);
}


/*boton styles*/
.boton{
  background: var(--verde-claro) !important;
}

.boton:hover{
  background: var(--verde-oscuro) !important;
}
/***********************************/

@media(max-width:1250px){
  .opciones{
    font-size: 20px !important;
  }
}

@media(max-width:1080px){
  .opciones{
    font-size: 15px !important;
  }
}
