<div class="container">
    <h2>Listar Usuarios</h2>
    <table mat-table >
      <ng-container matColumnDef="NombreUsuario">
        <th mat-header-cell *matHeaderCellDef>Nombre de Usuario</th>
        <td mat-cell *matCellDef="let ficha"></td>
      </ng-container>
      <ng-container matColumnDef="TipoDocumento">
        <th mat-header-cell *matHeaderCellDef>Tipo de documento</th>
        <td mat-cell *matCellDef="let ficha"></td>
      </ng-container>
      <ng-container matColumnDef="NumeroDocumento">
        <th mat-header-cell *matHeaderCellDef>Numero de Documento</th>
        <td mat-cell *matCellDef="let ficha"></td>
      </ng-container>
      <ng-container matColumnDef="CorreoElectronico">
        <th mat-header-cell *matHeaderCellDef>Correo Electronico</th>
        <td mat-cell *matCellDef="let ficha"></td>
      </ng-container>
      <ng-container matColumnDef="NumeroFicha">
        <th mat-header-cell *matHeaderCellDef>Numero de ficha</th>
        <td mat-cell *matCellDef="let ficha"></td>
      </ng-container>
      <ng-container matColumnDef="Telefono">
        <th mat-header-cell *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let ficha"></td>
      </ng-container>
      <ng-container matColumnDef="RolSistema">
        <th mat-header-cell *matHeaderCellDef>Rol en el Sistema</th>
        <td mat-cell *matCellDef="let ficha"></td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let ficha">    
        <a mat-button [routerLink]="['/editar-usuario/:id',ficha.code_ficha]">
          <mat-icon>edit</mat-icon>
          <span>Ver/Editar</span>
        </a></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  