<div class="container">
  <h2>Agregar fichas</h2>
  <form class="form-container">
    <mat-form-field>
      <input matInput placeholder="Número de fichas">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nombre del programa">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Trimestre</mat-label>
      <mat-select>
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Jornada</mat-label>
      <mat-select>
        <mat-option value="mañana">Mañana</mat-option>
        <mat-option value="mixta">Mixta</mat-option>
        <mat-option value="noche">Noche</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Líder de la ficha">
    </mat-form-field>
    <mat-form-field>
      <input matInput  placeholder="Fecha de inicio">
      <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
    </mat-form-field>
    <mat-form-field>
      <input matInput  placeholder="Fecha de finalización">
      <mat-datepicker-toggle matSuffix ></mat-datepicker-toggle>
    </mat-form-field>
    <button mat-raised-button>Agregar</button>
  </form>
</div>

