.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 31px;
  background-color: white;
  border-radius: 10px;
  background-image: radial-gradient(circle, #a4bbb6, #abc9c2, #b1d7cf, #b8e6db, #bef4e8);

}

.titulo{
  align-items: center;
}

.redondo {
  border-radius: 5px;
  background-color: aqua;
}





