<div class="container">
  <form class="form-container">
    <div class="form-fields-container">
      <mat-form-field appearance="fill">
        <mat-label>Selecciona un programa de formacion</mat-label>
        <mat-select>
          <mat-option  (click)="agregarPrograma(programa)" *ngFor="let programa of programas [0][0]">
            Programa: {{programa.name_programa}} 
          </mat-option>
        </mat-select>
    </mat-form-field>
      
    </div>
    <mat-form-field>
      <input matInput placeholder="Líder de la ficha">
    </mat-form-field>
      <mat-form-field appearance="fill" class="date">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" name="date_start" [(ngModel)]="ficha.date_start">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" class="date">
        <mat-label>Fecha de final</mat-label>
        <input matInput [matDatepicker]="picker1" name="date_start" [(ngModel)]="ficha.date_start">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    <button (click)="guardarFicha()" mat-raised-button>Agregar</button>
  </form>
</div>