.container {
  display: grid;
  place-items: center;
  height: 100%;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, auto));
  gap: 30px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 100%;
}

@media (max-width: 768px) {
  .form-container {
    grid-template-columns: 1fr;
    background-image: radial-gradient(circle, #a4bbb6, #abc9c2, #b1d7cf, #b8e6db, #bef4e8);
  }
}

.titulo{
  align-items: center;
}

.redondo {
  border-radius: 5px;
  background-color: aqua;

}





