.container {
  display: grid;
  place-items: center;
  height: 100%;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, auto));
  gap: 30px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 100%;
}

@media (max-width: 768px) {
  .form-container {
    grid-template-columns: 1fr;
  }
}

/*
Este código define dos clases de estilo. La clase .container establece un grid y centra los elementos en el medio. La clase
.form-container también establece un grid, pero con un número dinámico de columnas y filas y un espaciado entre ellos. Además,
define algunos estilos de diseño, como un fondo gris claro, bordes redondeados y sombras. También incluye una media query para
cambiar la disposición a una sola columna en pantallas más pequeñas.
*/
