<div class="container">
  <h2>Editar asistencia</h2>
  <form class="form-container">
    <mat-form-field>
      <input matInput placeholder="Fecha de ingreso">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Numeración de ingreso">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select>
        <mat-option value="asistio">Asistió</mat-option>
        <mat-option value="falto">Faltó</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Aula">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Observaciones">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Hora de ingreso">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Hora de salida">
    </mat-form-field>
    <button mat-raised-button>Guardar cambios</button>
  </form>
</div>
